@import url("https://use.typekit.net/siy7owe.css");

h1 {
  background-color: black;
  font-family: "source-code-pro", monospace;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: white;
}

h {
  background-color: black;
  font-family: "source-code-pro", monospace;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: white;
}

h2 {
  background-color: black;
  font-family: "source-code-pro", monospace;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: white;
}

h3 {
  background-color: black;
  font-family: "source-code-pro", monospace;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: white;
}

h4 {
  background-color: black;
  font-family: 'Inconsolata', monospace;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: white;
}

h5 {
  background-color: black;
  font-family: 'Inconsolata', monospace;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: white;
}

h6 {
  background-color: black;
  font-family: 'Inconsolata', monospace;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: white;
}
