@import url("https://use.typekit.net/siy7owe.css");

p {
  background-color: black;
  font-family: "source-code-pro", monospace;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: white;
}
